#profile {
    display: flex;
}

#profile h2 {
    outline: none;
}

#profile-left {
    /* background-color: #29515D; */
    width: 35%;
    padding: 1%;
}

#profile-right {
    width: 65%;
    padding: 3%;
    margin: 4% 0%;
    /* background-color: #29515D; */
}

#profile-img {
    justify-content: center;
}

#profile-img > img {
    border-radius: 40px;
    height: 320px;
    width: 300px;
}

#profile-name > h6 {
    background-color: #8DB4B9;
    text-align: center;
    border-radius: 10px;
    width: 85%;
    height: 20%;
    /* color: #E5E9EA; */
}

.profile-btn {
    background-color: #C3D6DC;
    border-radius: 5px;
    width: 60%;
}

.profile-btn:hover {
    background-color: #8DB4B9;
}

#bmi {
    margin-top: -17%;
    margin-right: 10%;
    width: 55%;
    height: 155%;
    display: flex;
    float: right;
    flex-direction: column;
    align-items: center;
}

#bmi-circle {
    text-align: center;
    justify-content: center;
    padding: 20% 15% 15%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #B2C5D3;
}

#library-container {
    background-color: #C3D6DC;
}

#library-title {
    background-color: #8DB4B9;
    border-radius: 10px;
    padding: 0.5% 1%;
    width: fit-content;
    margin: 1% 0% 1% 1%;
}

#library-container iframe:hover {
    border: solid 5px #C3D6DC;
    transition: 10ms ease-in;
}

#imgChange {
    background-color: #C3D6DC;
    color: #192939;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

#imgChang-btn {
    display: block;
    width: 80%;
}

#imgChange-btn button {
    background-color: #29515D;
    width: 20%;
    color: #E5E9EA;
}

#imgChange-btn button:hover {
    background-color: #192939;
}

.img-thumbnail {
    height: 200px;
    width: 200px;
    transition: 5ms ease-in ;
}

    /* Hover effect */
    .img-thumbnail:hover {
        border: 2px solid #192939;
    }

    /* Selected effect */
    .img-thumbnail.selected {
        border: 5px double #29515D;
        height: 190px;
        width: 190px;
    }