#profile {
    display: flex;
}

#profile-left {
    /* background-color: #29515D; */
    width: 35%;
    padding: 1%;
}

#profile-right {
    width: 65%;
    padding: 3%;
    margin: 8% 0%;
    /* background-color: #29515D; */
}

#profile-img {
    justify-content: center;
}

#profile-img > img {
    border-radius: 40px;
    height: 290px;
    width: 290px;
}

#profile-name > h6 {
    background-color: #8DB4B9;
    text-align: center;
    border-radius: 10px;
    width: 85%;
    height: 20%;
    /* color: #E5E9EA; */
}

.profile-btn {
    background-color: #C3D6DC;
    border-radius: 5px;
    width: 60%;
}

.profile-btn:hover {
    background-color: #8DB4B9;
}

#bmi {
    margin-top: -13%;
    margin-right: 10%;
    width: 55%;
    height: 155%;
    display: flex;
    float: right;
}

#bmi-circle {
    text-align: center;
    justify-content: center;
    padding: 15%;
    width: 100%;
    border-radius: 50%;
    background-color: #B2C5D3;
}

#library-container {
    background-color: #C3D6DC;
}

#library-title {
    background-color: #8DB4B9;
    border-radius: 10px;
    padding: 0.5% 1%;
    width: fit-content;
    margin: 1% 0% 1% 1%;
}

#library-container iframe:hover {
    border: solid 5px #C3D6DC;
    transition: 10ms ease-in;
}

#imgChange {
    background-color: #C3D6DC;
    color: #192939;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

#imgChang-btn {
    display: block;
    width: 80%;
}

#imgChange-btn button {
    background-color: #29515D;
    width: 20%;
    color: #E5E9EA;
}

#imgChange-btn button:hover {
    background-color: #192939;
}

.stop-scrolling {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.8); */
    z-index: 9999; 
}