#water-reminder {
    background-color: #C3D6DC;
    padding: 2%;
    margin: 0% 3%;
    width: 94%;
}

.water-btn button {
    background-color: #8DB4B9;
    width: 100%;
}

.water-btn button:hover {
    background-color: #29515D;
    color: #B2C5D3;
    transition: .3s ease-in;
}

#water-calc {
    background-color: #E5E9EA;
}

#water-calc button {
    background-color: #C3D6DC;
}

#water-calc button:hover {
    background-color: #8DB4B9;
    transition: .1s ease-out;
}

#water-circle {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #29515D;
    color: #E5E9EA;
    padding: 50px 10px;
    display: block;
    margin: 1% auto;
}

#water-reminder-right > h4 {
color: #29515D;
}

.accordion-button[aria-expanded="true"] {
    font-size: 24px; /* Adjust the font size as per your preference */
}

#water-text ul li {
    font-size: 17px;
}