svg {
    height: 45vh;
    margin: auto;
    display: block;
}

path {
    stroke-linecap: round;
    stroke-width: 10;
}

path.grey {
    stroke: lightgrey;
    stroke-dasharray: calc(40 * 3.142 * 1.85);
    stroke-dashoffset: 0;
}

path.purple {
    stroke: #8DB4B9;
    stroke-dasharray: calc(40 * 3.142 * 1.85);
    stroke-dashoffset: calc(40 * 3.142 * 1.85 - (1500 / var(--caloriesPDay)) * (40 * 3.142 * 1.85));
    /* Replace YourPercentage with the desired progress percentage */
}

#cpd-bar{
    border-radius: 8px 0 0 8px;
}

#type-bar:focus{
    box-shadow: none;
}

#add-btn {
    position: absolute;
    top: 90%;
    left: 44.5%;
    z-index: 1000;
    background-color: #29515D; 
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: none;
    
  }
  #add-btn span{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
  }
  #add-btn:hover {
    background-color: white;
    color: #29515D;
    border: 3px solid #29515D;
  }
  #add-btn span:hover {
    color: #29515D;
  }

  input[type=radio]{
    background-color: white;
  }

  input[type=radio]:checked{
    background-color: #8DB4B9;
    border: 1px solid #8DB4B9;
    box-shadow: none;
  }

#date-slt::-webkit-calendar-picker-indicator,
#time-slt::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#helo{
  border: #29515D;
  border-radius: 1px;
  color: white;
}
